<header style="background-image: url('{{ baseUrl }}assets/images/banner.jpg');">
  <nav>
    
      <a href="{{ baseUrl }}index.html">Home</a></li>
      <a href="{{ baseUrl }}blog.html">Blog</a></li>
    
  </nav>
</header>