---
title: Blog
layout: layouts/blog.njk
permalink: blog.html
---

<h1>{{ title }}</h1>

<ul>
{% for post in collections.post %}
    <li>
        <a href="{{ baseUrl }}{{ post.url }}">{{ post.data.title }}</a>
        <p>{{ post.data.description }}</p>
    </li>
{% endfor %}
</ul>