<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/styles.css" />
    <style>
        :root {
            --base-url: '{{ baseUrl }}';
        }
    </style>
</head>
<body>
    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
</body>
</html>